/* general-purpose classes */
.center {
	text-align:center;
}

.right {
	text-align:right;
}

.floatright {
	float: right;
}

/* site-wide appearances */
h1 {
	font-family: 'Grand Hotel', cursive;
}

body {
	font-family: 'Telex', sans-serif;
}

div.masthead { 
	margin-bottom: 4em;
}

span.popoverme {
	border-bottom: 1px dotted #999;
}
